<div class="container">
  <div class="row py-3">
      <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
          <div class="form-group row">
              <label class="col-3 col-sm-2 col-form-label">Class</label>
              <div class="col-9 col-sm-10">
                  <select class="custom-select">
                      <option selected>Select Class....</option>
                      <option value="c1">Class 1</option>
                      <option value="c2">Class 2</option>
                      <option value="c3">Class 3</option>
                  </select>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
          <div class="form-group row">
              <label class="col-3 col-form-label">Subject</label>
              <div class="col-9">
                  <select class="custom-select">
                      <option selected>Select Subject...</option>
                      <option value="s1">Subject 1</option>
                      <option value="s2">Subject 2</option>
                      <option value="s3">Subject 3</option>
                  </select>
              </div>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <div class="table-div">
              <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>#</th>
                              <th>Teaching</th>
                              <th>Practice</th>
                              <th>Preparation</th>
                              <th>Assement</th>
                              <th>Supplementry</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <th>Topic 1</th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                          </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</div>